*{
    position: relative;
}

body{
    margin: 0;
}

section{
    width: 100vw;
    height: 100vh;
}

.slide-um{
    height: 105vh;

    margin-top: -20px;

    background-image: url("https://th.bing.com/th/id/R.63767ee8693acee48196059d2aca7cb5?rik=UIfdpq%2b8DA%2bGlg&riu=http%3a%2f%2fo.imgac.net%2freceita%2fbolo-nega-maluca-de-mistura-para-bolo-33505.jpg&ehk=m%2bOiurAsqf5FA1dhyzqPfa9cDClmdRuSB22NrFbz2Qs%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;

    opacity: 0.7;
    filter: blur(5px);
}

.um-slide{
    position: absolute;
    top: 30px;
}

.um-slide h1{
    text-indent: 70px;
    font-size: 50px;
}

.um-slide h2{
    text-indent: 140px;
    font-size: 35px;
}

.slide-dois{
    padding-top: 20px;
    background-color: blue;
}